.seek {
  background-color: #404040;
  position: relative;
  height: 10px;
  width: 300px;
  border-radius: 5px;

  &:hover .marker {
    display: block;
  }
}

.elapsed {
  background-color: #B3B3B3;
  position: relative;
  left: 0;
  height: 10px;
  border-radius: 5px;
}

.marker {
  display: none;
  background-color: #FFFFFF;
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  left: 0;
  top: -12.5px; /* not sure what the deal with this is. i feel like it should just be top: 0; weird shit yo */
}
