.container {
  color: var(--white);
  display: flex;
  background-color: var(--gray-bg);
  padding: 15px;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

.item {
  display: flex;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.seek {
  display: flex;
  align-items: center;

  span:first-child {
    margin-right: 10px;
  }

  span:last-child {
    margin-left: 10px;
  }
}
